.combo-icon {
    .x-tagfield-item {
        background-color: transparent !important;
        border-style: none !important;
    }
    .x-tagfield-input-field {
        display: none !important;
    }
    .x-tagfield-item-close {
        display: none !important;
    }
}